body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cadastro-container {
  background-color: #111;
  border: 2px solid red;
  border-radius: 10px;
  padding: 40px;
  width: 320px;
  box-shadow: 0 0 20px red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-container h2 {
  margin-bottom: 25px;
  color: red;
}

.cadastro-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: white;
  font-size: 14px;
}

.cadastro-container input::placeholder {
  color: #aaa;
}

.cadastro-container button {
  width: 100%;
  padding: 12px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  margin-top: 10px;
}

.cadastro-container button:hover {
  background-color: darkred;
}

.link-text {
  margin-top: 20px;
  font-size: 13px;
  color: #ccc;
}

.link-text a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.link-text a:hover {
  text-decoration: underline;
}
